/* ===============================
   PAGE BASE
================================ */

html, body{
  margin:0;
  padding:0;
  min-height:100vh;
}

/* ===============================
   HIDE SYSTEM CURSOR
================================ */

html, body, *{
  cursor:none !important;
}

/* ===============================
   CURSOR CANVAS
================================ */

#cursorCanvas{
  position:fixed;
  inset:0;

  width:100vw;
  height:100vh;

  pointer-events:none;

  z-index:999999;
}
